<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/treetalk4.ico" sizes="192x192" type="image/x-icon">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>